.main
  .main__header
  .main__content
    .main__content__app-name
      Voice note
    .main__content__manual
      .main__content__manual__plus
        = icon('far','plus-square',class: "plus-square")
        新規作成ボタン
      .main__content__manual__cog
        = icon('fas','cog',class: "cog")
        ユーザー情報編集ボタン（ここからログアウト）
